.container {
  margin-top: 30px;
}
.calBtnGroup {
  display: flex;
}
.btnWrap {
  display: flex;
  align-items: center;
}
.btnWrap span {
  font-size: 35px;
  margin: 0 15px;
}
.weekWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 30px 0;
}
.dayWrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr));
  min-height: 70vh;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.weekItem {
  font-weight: bold;
  text-align: center;
}
.dayItem {
  padding: 0.75rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  align-self: stretch;
}
.sunday {
  color: #ff5050;
}
.saturday {
  color: #4472fc;
}
.otherMonth {
  color: #c0c0c0;
}
.otherMonth.saturday {
  color: #d5e6ff;
}
.otherMonth.sunday {
  color: #ffd8e5;
}
.selected {
  background: #f5eaffa9;
  font-weight: 700;
}
.today span {
  background: #5e4387;
  color: #fff;
  padding: 5px 6px;
  border-radius: 15px;
}
.addBtn {
  margin-left: auto;
  height: fit-content;
  padding: 1px 5px;
}
.schedule-item {
  padding: 2px 6px;
  margin-top: 4px;
  font-size: 0.75rem;
  border-radius: 4px;
  color: white;
  word-break: break-word;
  cursor: pointer;
  position: "relative";
}

.schedule-todo {
  background-color: #007bff;
}

.schedule-doing {
  background-color: #ffc107;
  color: black;
}

.schedule-done {
  background-color: #28a745;
}
.selected-date-details {
  background-color: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
  margin-top: 1rem;
}
.multiDayWrapper {
  position: relative;
  z-index: 1;
}
