.dashboard-container {
  padding: 10px 100px 100px;
}
#boardHeader {
  display: flex;
  justify-content: end;
  padding-top: 20px;
}
.plus-btn {
  color: #257fd9;
  border: 2px solid #257fd9;
  border-radius: 100px;
  margin-left: auto;
  padding: 10px 12px;
  font-size: 25px;
  line-height: 19px;
}
#dashBoard {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  min-height: calc(100vh - 400px);
  margin-top: 30px;
}
.card {
  flex: 1;
  border-radius: 15px;
  overflow: hidden;
}
.card-body {
  height: 100%;
}
.card-header {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  border-bottom: none;
  padding: 20px;
}
.toDo .card-header {
  background: #e6f2ff;
}
.doing .card-header {
  background: #e6d9f8;
}
.done .card-header {
  background: #cfece2;
}
.todo-item {
  cursor: pointer;
  padding: 20px 30px 20px 20px;
  margin: 10px 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 1px 3px #636363;
  font-weight: 500;
}
.todo-title {
  font-size: 19px;
}
.todo-content {
  padding: 10px 0 0;
}
.todo-dates {
  padding: 10px 0 10px;
  font-weight: 400;
  font-size: 14px;
}
.todo-tags-list {
  display: flex;
  gap: 10px;
}
.todo-tags {
  background: #fee199;
  color: #fff;
  font-size: 13px;
  padding: 5px 8px;
  border-radius: 5px;
  color: #000;
  font-weight: 400;
}
