.d-flex button {
  width: 15%;
}
.badge {
  cursor: pointer;
  font-size: 18px;
  vertical-align: sub;
}
.modal-header {
  align-items: baseline;
}
.modal-title {
  width: 100%;
}
.modal-header .btn-close {
  margin-left: 0;
  width: 10%;
  position: absolute;
  top: 25px;
  right: 10px;
}
.flexBox {
  display: flex;
  gap: 15px;
}
.flexBox > form {
  flex: 1;
}
