:root {
  --background: #e5eff3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto), sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
button {
  background: none;
  border: none;
}
#navBar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
}
.nav.flex {
  padding: 10px 30px 0;
}
.brand {
  border-bottom: 1px solid #ededed;
}
.nav-item {
  opacity: 0.5;
}
.nav-item.on {
  opacity: 1;
  border-bottom: 3px solid #0d6efd;
}
.nav-link {
  box-sizing: border-box;
  font-weight: 400;
  color: #000;
}
.nav-item.on .nav-link {
  font-weight: 600;
  color: #0d6efd;
}
h1 {
  padding: 20px 30px;
  font-size: 24px;
}
h1 > a {
  text-decoration: none;
  color: #000;
}
